build/*
bin/*
.gradle/*
data/*
.DS_Store
*.log
/build/
target/*
.classpath
.settings/*
/bin/
.eclipse-pmd
.idea/workspace.xml
.idea
.sonar
*.pyc
/config.json
.project
.pydevproject
/.gradle/
/config.py
